@use "../base/colors.scss" as c;

.header{
  background-color: c.$stone-brown;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0px 5px 10px rgba(c.$dusty-taupe, 0.544)
}
