#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

header{
  background-color: red;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0px 5px 10px rgba(240, 230, 140, 0.544);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

main{
  flex-grow: 1;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.question h2 {
  text-align: center;
}

.question ul {
  list-style: "-";
}

.question li {
  display: flex;
  gap: 1rem;
  align-items: center;
}