

/* SCSS HEX */
$black: #0a0908ff;
$night-bordeaux: #49111cff;
$white-smoke: #f2f4f3ff;
$dusty-taupe: #a9927dff;
$stone-brown: #5e503fff;

/* SCSS HSL */
$black: hsla(30, 11%, 4%, 1);
$night-bordeaux: hsla(348, 62%, 18%, 1);
$white-smoke: hsla(150, 8%, 95%, 1);
$dusty-taupe: hsla(29, 20%, 58%, 1);
$stone-brown: hsla(33, 20%, 31%, 1);

/* SCSS RGB */
$black: rgba(10, 9, 8, 1);
$night-bordeaux: rgba(73, 17, 28, 1);
$white-smoke: rgba(242, 244, 243, 1);
$dusty-taupe: rgba(169, 146, 125, 1);
$stone-brown: rgba(94, 80, 63, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0a0908ff, #49111cff, #f2f4f3ff, #a9927dff, #5e503fff);
$gradient-right: linear-gradient(90deg, #0a0908ff, #49111cff, #f2f4f3ff, #a9927dff, #5e503fff);
$gradient-bottom: linear-gradient(180deg, #0a0908ff, #49111cff, #f2f4f3ff, #a9927dff, #5e503fff);
$gradient-left: linear-gradient(270deg, #0a0908ff, #49111cff, #f2f4f3ff, #a9927dff, #5e503fff);
$gradient-top-right: linear-gradient(45deg, #0a0908ff, #49111cff, #f2f4f3ff, #a9927dff, #5e503fff);
$gradient-bottom-right: linear-gradient(135deg, #0a0908ff, #49111cff, #f2f4f3ff, #a9927dff, #5e503fff);
$gradient-top-left: linear-gradient(225deg, #0a0908ff, #49111cff, #f2f4f3ff, #a9927dff, #5e503fff);
$gradient-bottom-left: linear-gradient(315deg, #0a0908ff, #49111cff, #f2f4f3ff, #a9927dff, #5e503fff);
$gradient-radial: radial-gradient(#0a0908ff, #49111cff, #f2f4f3ff, #a9927dff, #5e503fff);